/* NAVBAR */
nav{
    padding: 0px!important;
}
nav div div a:hover{
    color: aliceblue!important;
}
/* --------- BODY SECTION 1 --------- */
.section-1 {
    background-image: url(../img/istockphoto-1174511028-1024x1024-transformed.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-1 div {
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    margin: 0 150px;
}

.section-1 div h1 {
    font-size: 30px;
}

.section-1 div p {
    font-size: 20px;
}

.section-1 div a button {
    background-color: #0e6efd;
    font-size: 20px;
    border-radius: 10px;
    padding: 12px 28px;
    width: 200px;
}

.section-1 div a button:hover {
    background-color: #0e6efd;
    color: blanchedalmond;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* --------- BODY SECTION 2 --------- */
.background-img{
    background-image: url(../img/white-studio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.padding-0{
    padding: 0px;
    margin: 0px;
}

/* --------- BODY SECTION 3 --------- */

.section-3 {
    background-color: #e3e8eb;
    height: 550px;
}

.section-3 .contenedor {
    padding: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.section-3 p {
    font-size: 20px;
    text-align: center;
}

/* --------- FOOTER --------- */

.footer {
    background-color: #a8c6fa;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.footer .img-1 img {
    width: 100px;
}

.footer .img-2 img {
    width: 50px;
}

.footer .img-2 {
    text-align: center;
}

.footer .img-3 img {
    width: 200px;
    ;
}
@media (max-width:600px){
    .footer .img-1 img {
        width: 50px;
    }
    
    .footer .img-2 img {
        width: 25px;
    }
        
    .footer .img-3 img {
        width: 100px;
        ;
    }
}

/* -------------- PAGINA "CONTACTANOS" -------------- */

.contacto{
    background-color: #dcdcdc;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0px ;
}
.contacto h1{
    font-size: 30px;
    padding: 20px;
}
.contacto .contenedor-form{
    border: solid;
    border-color: blue;
    border-radius: 12px;
    border-width: 2px;
    padding: 30px 100px;
}
.contacto .contenedor-form .submit{
    background-color: blue;
    color: aliceblue;
    font-size: 15px;
    border-radius: 10px;
    padding: 12px 28px;
    width: 250px;
}
.contacto .contenedor-form .submit:hover{
background-color: blue;
color: blanchedalmond;
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contenedor-pag2{
    background-color: #f5f5f5;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.divflex{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
